{% load static %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-primary text-uppercase">// Depoimentos //</h6>
            <h1 class="mb-5">O Que Nossos Clientes Dizem!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'webpage/img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Juliana S.</h5>
                <p>Engenheira</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"Levei meu carro para manutenção e fiquei impressionada com a qualidade do serviço.
                    Os profissionais são atenciosos, explicaram cada detalhe do que precisava ser feito e entregaram o carro em perfeitas condições.
                    Recomendo a todos!"
                </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'webpage/img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Marcos R.</h5>
                <p>Professor</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"Fiquei extremamente satisfeito com o serviço prestado. O atendimento foi rápido, eficiente e os profissionais demonstraram grande conhecimento.
                    Meu carro ficou como novo e o preço foi justo. Com certeza voltarei sempre que precisar de manutenção."
                </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'webpage/img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">João P.</h5>
                <p>Cozinheiro</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"Excelente serviço! Levei meu carro para um reparo complexo e fiquei impressionado com a precisão e rapidez do trabalho.
                    Os técnicos foram muito profissionais e me mantiveram informado durante todo o processo.
                    Com certeza, encontrei um lugar de confiança para cuidar do meu carro."
                </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'webpage/img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Carla M.</h5>
                <p>Advogada</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">
                    "Fui muito bem atendida desde o primeiro contato. A equipe foi super profissional e transparente, explicando tudo o que meu carro precisava.
                    O serviço foi feito com rapidez e o resultado foi excelente. Fiquei muito satisfeita e recomendo a todos!"
                </p>
                </div>
            </div>
        </div>
    </div>
</div>