{% extends "base_template.html" %}
{% load static %}

{% block content %}

    <!-- Topbar Start -->
    {% include 'indexcomponents/Topbar.html' %}
    <!-- Topbar End -->

    <!-- Navbar Start -->
    {% include 'indexcomponents/Navbar.html' %}
    <!-- Navbar End -->

    <!-- Carousel Start -->
    {% include 'indexcomponents/Carousel.html' %}
    <!-- Carousel End -->

    <!-- Service Start -->
    {% include 'indexcomponents/Service.html' %}
    <!-- Service End -->

    <!-- About Start -->
    {% include 'indexcomponents/About.html' %}
    <!-- About End -->

    <!-- Fact Start -->
    {% include 'indexcomponents/Fact.html' %}
    <!-- Fact End -->

    <!-- Service Start -->
    {% include 'indexcomponents/Service.html' %}
    <!-- Service End -->

    <!-- Booking Start -->
    {% include 'indexcomponents/Booking.html' %}
    <!-- Booking End -->

    <!-- Team Start -->
    {% include 'indexcomponents/Team.html' %}
    <!-- Team End -->

    <!-- Testimonial Start -->
    {% include 'indexcomponents/Testimonial.html' %}
    <!-- Testimonial End -->


{% endblock %}