{% extends "base_template.html" %}
{% load static %}

{% block content %}


    <!-- Carousel Start -->
    {% include 'index-components/Carousel.html' %}
    <!-- Carousel End -->

    <!-- Service Start -->
    {% include 'index-components/Service.html' %}
    <!-- Service End -->

    <!-- About Start -->
    {% include 'index-components/About.html' %}
    <!-- About End -->

    <!-- Fact Start -->
    {% include 'index-components/Fact.html' %}
    <!-- Fact End -->

    <!-- Service Start -->
    {% include 'index-components/Service.html' %}
    <!-- Service End -->

    <!-- Booking Start -->
    {% include 'index-components/Booking.html' %}
    <!-- Booking End -->

    <!-- Team Start -->
    {% include 'index-components/Team.html' %}
    <!-- Team End -->

    <!-- Testimonial Start -->
    {% include 'index-components/Testimonial.html' %}
    <!-- Testimonial End -->


{% endblock %}