{% extends "base_adminlte.html" %}
{% load static %}

{% block content %}


        <!--begin::App Main-->
        <main class="app-main"> <!--begin::App Content Header-->
            <div class="app-content-header"> <!--begin::Container-->
                <div class="container-fluid"> <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Início</h3>
                        </div>
                        
                    </div> <!--end::Row-->
                </div> <!--end::Container-->
            </div> <!--end::App Content Header--> 
            
            <!--begin::App Content-->
            <div class="app-content"> 
                <!--begin::Container-->
                <div class="container-fluid"> 
                                            
                    <!--begin::Row-->
                    <div class="row"> <!--begin::Col-->
                        <div class="col-lg-3 col-6"> <!--begin::Small Box Widget 1-->
                            <div class="small-box text-bg-primary">
                                <div class="inner">
                                    <h3>Clientes</h3>
                                    <p>{{ total_clientes }}</p>
                                </div> 
                                 
                                <a href="{% url 'clientes' %}" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    Ver mais <i class="bi bi-link-45deg"></i> 
                                </a>
                            </div> <!--end::Small Box Widget 1-->
                        </div> <!--end::Col-->
                        <div class="col-lg-3 col-6"> <!--begin::Small Box Widget 2-->
                            <div class="small-box text-bg-success">
                                <div class="inner">
                                    <h3>Pagamentos</h3>
                                    <p>0</p>
                                </div> 
                                                               
                                <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    Ver mais <i class="bi bi-link-45deg"></i> </a>
                            </div> <!--end::Small Box Widget 2-->
                        </div> <!--end::Col-->

                        <div class="col-lg-3 col-6"> <!--begin::Small Box Widget 3-->
                            <div class="small-box text-bg-warning">
                                <div class="inner">
                                    <h3>Serviços</h3>
                                    <p>0</p>
                                </div> 
                                                             
                                <a href="#" class="small-box-footer link-dark link-underline-opacity-0 link-underline-opacity-50-hover">
                                    Ver mais <i class="bi bi-link-45deg"></i> 
                                </a>
                            </div> <!--end::Small Box Widget 3-->
                        </div> <!--end::Col-->

                        <div class="col-lg-3 col-6"> <!--begin::Small Box Widget 4-->
                            <div class="small-box text-bg-danger">
                                <div class="inner">
                                    <h3>Vendas</h3>
                                    <p>0</p>
                                </div> 
                               
                                <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    Ver mais <i class="bi bi-link-45deg"></i> </a>
                            </div> <!--end::Small Box Widget 4-->
                        </div> <!--end::Col-->
                    
                    </div> <!--end::Row--> <!--begin::Row-->
                    
                    {% if aniversariantes %}
                    <!-- Alerta de Aniversariante -->
                    <div class="alert alert-info">
                        <strong>Aniversariante(s) do dia!</strong> Dê os parabéns a:
                        {% for cliente in aniversariantes %}
                            <a href="{% url 'cliente_detail' cliente.id %}" class="alert-link">{{ cliente.nome_completo }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </div> <!--end::Container-->
            </div> <!--end::App Content-->
        </main> <!--end::App Main--> 
        
       
    
    {% endblock %}