{% load static %}
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Localização</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{ carserv.endereco }}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ carserv.phone }}</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{ carserv.email }}</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="{{ carserv.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{ carserv.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{ carserv.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{ carserv.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Horário de Funcionamento</h4>
                <h6 class="text-light">Seg - Sex:</h6>
                <p class="mb-4">{{ carserv.working_hours_weekdays|lower }}</p>
                <h6 class="text-light">Sábados:</h6>
                <p class="mb-0">{{ carserv.working_hours_saturday|lower }}</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Serviços</h4>
                <a class="btn btn-link" href="">Teste de Diagnóstico</a>
                <a class="btn btn-link" href="">Manutenção do Motor</a>
                <a class="btn btn-link" href="">Troca de Pneus</a>
                <a class="btn btn-link" href="">Troca de Óleo</a>
                <a class="btn btn-link" href="">Limpeza a Vácuo</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Novidades</h4>
                <p>Cadastre seu email e fique por dentro das novidades e ofertas</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <form class="needs-validation" novalidate method="POST" action="{% url 'newsletter' %}">
                        {% csrf_token %}
                        <input id="emailInput" name="email" class="form-control border-0 w-100 py-3 ps-4 pe-5" type="email" placeholder="Seu email" required>
                        <div class="invalid-feedback">
                            Por favor, insira um email válido.
                        </div>
                        <button class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" type="submit">Inscrever-me</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">CarServ</a>, todos os direitos reservados.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    <small>Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a></small>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">

                        <a href="{{carserv.privacy_policy}}" target="_blank" title="Privacy Policy">Política de Privacidade</a>
                        <a href="{{carserv.terms_of_service}}" target="_blank" title="Terms of Service">Termos de Serviço</a>

                        <!-- <a href="">Help</a>
                        <a href="">FQAs</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap form validation script -->
<script>
    (function() {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

